@import url('https://fonts.googleapis.com/css2?family=Acme&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 1673px;
    background-color: rgba(12, 11, 11, 1);
    overflow: hidden;
}

.container {
    max-width: 1920px;
    width: 100%;
    /* padding: 0px 20px; */
    margin: 0px auto;
}

.row {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 22px;
}

.heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 128%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 32px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 23px;

}

.box {
    display: flex;
    flex-direction: column;
    padding: 16px 20px 22px 20px;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    border: 1px solid;
    border-image-source: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    width: 424px;
    height: 154px;
    border-radius: 10px;
    gap: 16px;
}

.para {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.small-box {
    display: flex;
    gap: 106px;

}

.when-buying {
    display: flex;
    flex-direction: column;

}

.para-box {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    opacity: 70%;
}

.heading-three {
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.diffrent {
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(240, 101, 0, 1);
}

.section-two {
    border: 1px solid;
    border-image-source: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 11px;
    gap: 70px;
}

.dflex {
    display: flex;
    padding: 67px 97px 0px 66px;
    gap: 157px;
    border-radius: 10px;
}

.container-two {
    display: flex;
    align-items: center;
    gap: 19px;
}

.color-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 303px;

}

.color-line {
    display: flex;
    align-items: center;
    gap: 25px;
}

.color-a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: rgba(0, 227, 150, 1);
}

.color-b {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: rgba(240, 101, 0, 1);
}

.color-c {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: rgba(139, 53, 226, 1);
}

.color-d {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: rgba(0, 178, 255, 1);
}

.color-e {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: rgba(255, 168, 0, 1);
}

.color-f {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: rgba(255, 69, 96, 1);
}

.color-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}

.image-two {
    height: 437px;
    width: 315px;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 1320px;
}

thead tr {
    background-color: rgba(12, 12, 12, 1);
}

th {
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 14px 0px 22px 0px;
}

/* 
th:nth-child(1){
    padding: 14px 36px 22px 36px;
}

th:nth-child(2){
    padding: 14px 36px 22px 36px;
    
}

th:nth-child(3){
    padding: 14px 36px 22px 36px;
}

th:nth-child(4){
    padding: 14px 36px 22px 36px;

}

th:nth-child(5){
    padding: 14px 36px 22px 36px;

}
th:nth-child(6){
    padding: 14px 36px 22px 36px;

} */

.non-opacity {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

td {
    font-weight: 400;
    font-size: 18px;
    line-height: 189%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    opacity: 70%;
    padding: 14px;
}